.cardsContainer{
display: flex;
flex-direction: column;
width: 195px;
align-items: center;
}

.starIcon{
width: 14px;
height: 100%;

}
.cardInfo{
    display: flex;
    flex-direction: row;
    margin-left: 36px;
    margin-top: 9px;
}

.cardImage{
    width: 176px;
    height: 235px;
    margin-left: 37px;
}

.costInfo {
    white-space: nowrap; /* Prevent text from wrapping */
  }

.bold{
    font-weight: bold;
}
.cardText{
    margin-top:0;
    margin-left: 36px;
}

.rating{
    margin-right: 5px;
}

.viewCount{
    margin-right: 5px;
}